.header {
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.navbar {
    padding: 20px;
    margin-bottom: 20px;
    background: tomato;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.create {
    color: #fff;
    font-size: 1.5rem;
}

.navbarbrand {
    color: #fff;
    font-size: 2rem;
}

.navbarbrand:hover, .create:hover {
    color: #fff;
}

.formcontainer {
    width: 400px;
    margin: 20px auto;

}

.notecontainer {
    text-align: center;
    margin-top: 20px;
}
